@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">

        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="container img-container">
                <div class="img-wrap"><img src="~/images/watch1.png" alt="Avatar" class="image" style="width:100%"></div>
                <div class="middle">
                    <div class="text">John Doe</div>
                </div>
            </div>
            <figure class="card card-product">

            </figure>
        </div> <!-- col // -->
        <div class="col-md-4">
            <figure class="card card-product">
                <div class="img-wrap"><img src="~/images/watch1.png"></div>

            </figure>
        </div> <!-- col // -->
        <div class="col-md-4">
            <figure class="card card-product">
                <div class="img-wrap"><img src="~/images/watch1.png"></div>
            </figure>
        </div> <!-- col // -->
    </div> <!-- row.// -->

</div>



