@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active carousel-item">
            <span style="font-family: Francois One; font-size: 100px; color: #edf5e1; display:table;
margin:0 auto;">GET THE LATEST OFFERS</span>
        </div>
        <div class="item carousel-item">
            <span style="font-family: Francois One; font-size: 100px; color: #edf5e1; display:table;
margin:0 auto;">SAVE UP TO 30%</span>
        </div>

        <div class="item carousel-item">
            <span style="font-family: Francois One; font-size: 100px; color: #edf5e1; display:table;
margin:0 auto;">ONLY FOR MEMBERS</span>
        </div>
    </div>
</div>




<div class="container">
    <div class="row product-row">
        <div class="col-md-4">
            <div class="content">
                <a href="#" target="_blank">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="~/images/watch1.png">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Cartier Premium Watch</h3>
                        <p class="content-text">$260.00</p>
                    </div>
                </a>
            </div>
        </div> <!-- col // -->
        <div class="col-md-4">
            <div class="content">
                <a href="#" target="_blank">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="~/images/watch2.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Yazole Bussiness Watch</h3>
                        <p class="content-text">$189.00</p>
                    </div>
                </a>
            </div>
        </div> <!-- col // -->
        <div class="col-md-4">
            <div class="content">
                <a href="#" target="_blank">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="~/images/watch3.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">This is a title</h3>
                        <p class="content-text">This is a short description</p>
                    </div>
                </a>
            </div>
        </div> <!-- col // -->
    </div> <!-- row.// -->

    <div class="row product-row">
        <div class="col-md-4">
            <div class="content">
                <a href="#" target="_blank">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="~/images/watch4.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">This is a title</h3>
                        <p class="content-text">This is a short description</p>
                    </div>
                </a>
            </div>
        </div> <!-- col // -->
        <div class="col-md-4">
            <div class="content">
                <a href="#" target="_blank">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="~/images/watch5.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">This is a title</h3>
                        <p class="content-text">This is a short description</p>
                    </div>
                </a>
            </div>
        </div> <!-- col // -->
        <div class="col-md-4">
            <div class="content">
                <a href="#" target="_blank">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="~/images/watch6.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">This is a title</h3>
                        <p class="content-text">This is a short description</p>
                    </div>
                </a>
            </div>
        </div> <!-- col // -->
    </div> <!-- row.// -->

    <div class="row product-row">
        <div class="col-md-4">
            <div class="content">
                <a href="#" target="_blank">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="~/images/watch7.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">This is a title</h3>
                        <p class="content-text">This is a short description</p>
                    </div>
                </a>
            </div>
        </div> <!-- col // -->
        <div class="col-md-4">
            <div class="content">
                <a href="#" target="_blank">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="~/images/watch10.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">This is a title</h3>
                        <p class="content-text">This is a short description</p>
                    </div>
                </a>
            </div>
        </div> <!-- col // -->
        <div class="col-md-4">
            <div class="content">
                <a href="#" target="_blank">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="~/images/watch9.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">This is a title</h3>
                        <p class="content-text">This is a short description</p>
                    </div>
                </a>
            </div>
        </div> <!-- col // -->
    </div> <!-- row.// -->



</div>



