.navbutton {
    font-family: Francois One;
    font-size: 20px;
}

.navbar {
    border: 0;
}

.navbrand {
    font-family: Playball;
    font-size: 26px;
}

.nav-container{
    margin-left: 10px;
}

.carousel-item {
    margin-bottom: 20px;
}

