@{
ViewData["Title"] = "Home Page";

var counter = 0;
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active carousel-item">
            <span style="font-family: Francois One; font-size: 100px; color: #dedba7; display:table;
margin:0 auto;">GET THE LATEST OFFERS</span>
        </div>
        <div class="item carousel-item">
            <span style="font-family: Francois One; font-size: 100px; color: #dedba7; display:table;
margin:0 auto;">SAVE UP TO 30%</span>
        </div>

        <div class="item carousel-item">
            <span style="font-family: Francois One; font-size: 100px; color: #dedba7; display:table;
margin:0 auto;">ONLY FOR MEMBERS</span>
        </div>
    </div>
</div>


<div style="display:inline-block" class="container-fluid">

    <br />
    <div style="display:inline-block; margin-left: 60px;">

        <div style="margin-left:100px; display: inline-block">
            <label class="checkbox-inline">
                <input type="checkbox" onclick="Filter()" name="priceRange" value="1-100">$1 - $100
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" onclick="Filter()" name="priceRange" value="100-200">$100 - $200
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" onclick="Filter()" name="priceRange" value="200-300">$200 - $300
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" onclick="Filter()" name="priceRange" value="300-400">$300 - $400
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" onclick="Filter()" name="priceRange" value="400-500">$400 - $500
            </label>
        </div>
    </div>
    <div style="display:inline-block; margin-left: 0px;">

        <div style="margin-left:100px; display: inline-block">
            <label class="checkbox-inline">
                <input type="checkbox" onclick="Filter()" name="gender" value="Men">Men
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" onclick="Filter()" name="gender" value="Women">Women
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" onclick="Filter()" name="gender" value="Unisex">Unisex
            </label>
        </div>
    </div>
    <div style="display:inline-block; margin-left: 0px;">

        <div style="margin-left:100px; display: inline-block">
            <label class="checkbox-inline">
                <input type="checkbox" onclick="Filter()" name="style" value="Luxury">Luxury
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" onclick="Filter()" name="style" value="Sport">Sport
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" onclick="Filter()" name="style" value="Casual">Casual
            </label>
        </div>
    </div>
</div>

<div class="container">

    <div id="productRow" class="row product-row">
        @foreach (var product in ViewBag.Products)
        {
            <div style="margin-top: 30px;" class="col-md-4">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="@product.ImagePath">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">@product.Name</h3>
                        <h4 class="content-text">"@product.Description"</h4>
                        <p class="content-text">$@product.Price</p>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <table style="width: 100%">
                                <tr>
                                    <td style="display: none">@product.Id</td>
                                    <td>
                                        <button class="add-to-cart" style="color: #edf5e1">Add to Cart</button>
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <audio style="display:none" controls autoplay>
        <source src="~/audio/tickingclock.mp3" type="audio/mpeg">
    </audio>

</div>




