
@{
    ViewData["Title"] = "Admin";
}

<!------ Include the above in your HEAD tag ---------->
<div class="container" style="width: 81%; margin-top: 100px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button type="button" onclick="document.getElementById('add-product').style.display='block'" class="btn btn-primary">Add Product</button>
                <hr />
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred">
                        <thead>
                        <th>Product Id</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Edit</th>
                        <th>Remove</th>
                        </thead>
                        <tbody id="productList">
                            @foreach (var product in ViewBag.Products)
                            {
                                <tr>

                                    <td>@product.Id</td>
                                    <td>@product.Name</td>
                                    <td>@product.Price</td>
                                    <td>@product.Quantity</td>
                                    <td><p data-placement="top" class="edit-product" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                                    <td><p data-placement="top" class="dlt-product" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="add-product" class="modal">

        <div class="imgcontainer">
            <span onclick="document.getElementById('add-product').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <form class="modal-content animate" style=" background-color: #5cdb95;" id="addProductForm">
            <div class="container" style="font-family: Francois One;">
                <div>
                    <label for="Name" style="color: #05386b"><b>Product name</b></label>
                </div>
                <div>
                    <input type="text" placeholder="Enter Product Name" name="Name" required>
                </div>
                <div>
                    <label for="Price" style="color: #05386b"><b>Product Price</b></label>
                </div>
                <div>
                    <input type="text" placeholder="Enter Price" name="Price" required>
                </div>
                <div>
                    <label for="ImagePath" style="color: #05386b"><b>Product Image</b></label>
                </div>
                <div>
                    <input type="text" placeholder="Image Name" name="ImagePath" required>
                </div>
                <div>
                    <label for="Quantity" style="color: #05386b"><b>Quantity</b></label>
                </div>
                <div>
                    <input type="number" placeholder="Quantity" name="Quantity" required>
                </div>
                <br />
                <button type="button" onclick="AddProduct()" style="color: #edf5e1">Add</button>
            </div>
        </form>
    </div>

    <div id="edit-product" class="modal">
        <div class="imgcontainer">
            <span onclick="document.getElementById('edit-product').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <form class="modal-content animate" style=" background-color: #5cdb95;" id="editProductForm">
            <div class="container" style="font-family: Francois One;">
                <div>
                    <label for="Id" style="color: #05386b"><b>Product Id</b></label>
                </div>
                <div>
                    <input id="editProductId" type="text" name="Id" required>
                </div>
                <div>
                    <label for="Name" style="color: #05386b"><b>Product name</b></label>
                </div>
                <div>
                    <input type="text" placeholder="Enter Product Name" name="Name" required>
                </div>
                <div>
                    <label for="Price" style="color: #05386b"><b>Product Price</b></label>
                </div>
                <div>
                    <input type="text" placeholder="Enter Price" name="Price" required>
                </div>
                <div>
                    <label for="ImagePath" style="color: #05386b"><b>Product Image</b></label>
                </div>
                <div>
                    <input type="text" placeholder="Image Name" name="ImagePath" required>
                </div>
                <div>
                    <label for="Quantity" style="color: #05386b"><b>Quantity</b></label>
                </div>
                <div>
                    <input type="number" placeholder="Quantity" name="Quantity" required>
                </div>
                <br />
                <button type="button" onclick="EditProduct()" style="color: #edf5e1">Add</button>
            </div>
        </form>
    </div>

